/*html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}
*/

/*body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
*/

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/NotoColorEmoji-Regular.ttf") format("truetype");

}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

#app {
    height: 100vh;
    /*text-align: center;*/
}

body {
  background-image: url('assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;

  color: white;
}

/* Hide scrollbars but allow scrolling */
body, html {
  overflow: hidden;
}

/* Optional: For specific scrollable elements */
.scrollable-element {
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
.scrollable-element::-webkit-scrollbar {
  display: none;
}
